body {
    margin: 0;
    padding: 0;
    font-family: "Arial", serif;
}

TABLE {
    width: 300px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid white; /* Прячем рамку вокруг таблицы */
}

TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid #000000; /* Параметры рамки */
    text-align: left; /* Выравнивание по левому краю */
}