body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.filter-panel {
    width: 100%;
    height: 80px;
    background-color: #f8f9fa;
    padding: 5px 20px;
    margin: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    z-index: 1000;
}

.filter-panel label {
    font-weight: bold;
    margin-right: 10px;
}

.filter-panel input[type="text"], .filter-panel select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 10px;
}

.filter-panel .checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-right: 10px;
}

.filter-panel .checkbox-label input {
    margin-right: 5px;
}

.filter-panel button[type="submit"], .filter-panel button[type="button"] {
    background-color: #f8f9fa;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s ease;
}

.filter-panel button[type="submit"]:hover, .filter-panel button[type="button"]:hover {
    background-color: #f8f9fa;
    transform: scale(1.1);

}

.filter-panel .division, #table-search-container {
    padding: 10px;
    margin: 0;
    border: dashed 2px rgba(0, 0, 0, 0.38);
}

#table-search-container select {
    margin-top: 5px;
    border-radius: 1px;
    padding: 2px;
}

.filter-panel .division button[type="submit"] {
    float: right;
    background-color: #1d2b59;
    color: white;
    font-weight: bold;
}


.custom-select {
    position: relative;
    display: inline-block;
    width: 250px;
}

.select-selected {
    background-color: #f8f9fa;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    transition: transform 0.2s ease;
}

.select-selected:hover {
    transform: scale(1.1);
}

.select-selected img {
    margin: 0 8px 0 0;
}

.select-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    z-index: 99;
    width: 100%;
    box-sizing: border-box;
}

.select-items div {
    padding: 10px;
    cursor: default;
}

.select-items div:hover {
    background-color: #f1f1f1;
}

.yellow {
    color: #fce669;
}

.red {
    color: #ffafaf;
}

.grey {
    color: gray;
}

.filter-panel button {
    background-color: #f8f9fa;
    border: none;
    transition: transform 0.2s ease;
}

.custom_display {
    padding-top: 85px;
    width: 100%;
    border-collapse: collapse;

}

.custom_display thead {
    background-color: #fff;
    position: sticky;
    top: 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.custom_display TD, .custom_display TH {
    padding: 5px;
    box-shadow: 5px 5px 0 -4px black inset;
    border-collapse: collapse;
    text-align: left;
}

.custom_display .deleted {
    background-color: rgb(131, 131, 131);
}

.custom_display .deleted:hover {
    background-color: rgb(80, 80, 80);
}

.custom_display .coming {
    background-color: rgb(253, 241, 172);
}

.custom_display .coming:hover {
    background-color: #fce669;
}

.custom_display .expired {
    background-color: #ffd3d3;
}

.custom_display .expired:hover {
    background-color: #ffafaf;
}

.custom_display td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom_display tr:hover {
    background-color: rgba(3, 13, 30, 0.1);
}

.custom_display .change {
    background-color: white;
}

.custom_display .change:hover {
    background-color: white;
}


.change button,
.change button:active,
.change button:focus {
    border: none;
    background-color: white;
    transition: transform 0.2s ease;
}

.filter-panel button:hover,
.change button:hover {
    transform: scale(1.1);
}


.tab-pane {
    display: flex;
}

.left {
    float: left;
    width: 50%;
}

.left {
    float: right;
    width: 50%;
}

/* Стили для выезжающей панели */
.filter-panel-slide {
    position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    height: 100%;
    background-color: #f1f1f1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 20px;
}

.active {
    right: 0;
}

#filterButton {
    position: fixed;

    right: 20px;
    background-color: #f8f9fa;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#filterButton:hover {
    background-color: #f8f9fa;
}

#closeFilters {
    background-color: #f1f1f1;
}

#applyFilters {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #1d2b59;
    color: white;
    border-radius: 8px;
}

.btn_del_ed{
    margin: 10px 0;
    padding: 10px;
    background-color: #1d2b59;
    color: white;
    border-radius: 8px;
}