{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удалить запись</title>
    <link type="image/png" sizes="96x96" rel="icon" href="{% static 'img/icons8-инженер-96.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Удалить запись</h2>
        <form id="deleteForm" method="post" action="{% url 'delete_item' item.pk %}">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить эту запись?</p>
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    </div>
</body>
</html>
