{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование элемента</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<h2>Редактирование элемента</h2>
<form method="post">
    {% csrf_token %}
    <h3>Информация о TU</h3>
    {{ tu_form.as_p }}
    <h3>Информация об OPO</h3>
    {{ opo_form.as_p }}
    <h3>Сертификаты</h3>
    {% for cert_form in cert_forms %}
        {{ cert_form.as_p }}
    {% endfor %}
    <button type="submit">Сохранить</button>
    <a href="{% url 'display_data' %}">Отмена</a>
</form>

</body>
</html>